<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Physics Formulas Page</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a routerLink="/nosotros">About</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div class="text">
        <h1>La <span>Fisica</span> en tan solo una pagina</h1>
        <p>
          Explora,conoce,identifica,aprende y aplica las formulas de la fisica
        </p>
        <button routerLink="/dashboard">Ver formulas</button>
      </div>

      <div class="floating-formulas">
        <i class="bx bx-brain formula"></i>
        <i class="bx bx-atom formula"></i>
        <i class="bx bx-math formula hidden-mobile"></i>
      </div>
    </section>

    <section class="product">
      <h2>Aprende formulas para tu aprendizaje</h2>
      <div class="product-description">
        <h3>Impulsado por el Cbtis 66</h3>
        <p>Explora y conoce las formulas de fisica nivel I y II</p>
      </div>
    </section>
  </body>
</html>
