<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-section">
      <h1>Acerca de Nosotros</h1>
      <p>
        Bienvenido a <strong>Fisica II</strong>. somos estudiantes del Cbtis 66
        "Agustin de Iturbide" de quinto semestre y nos especializamos en la
        creacion y desarollo de sitios web para la institucion
      </p>

      <h2>Nuestra Misión</h2>
      <p>
        Varios jovenes por ausencia no entran a las clases y en este sitio web
        pueden repasar los problemas o verificar que esten bien hechos.
      </p>

      <h2>Nuestra Metodologia</h2>
      <p>
        Nuestra metodologia es cualitativa y cuantitativa, a partiir de el
        metodo cientifico en el punto de pospositivismo y constructivismo
      </p>
    </div>
  </body>
</html>
