<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fórmulas de Física II</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Física II</h1>
    </header>

    <section class="hero">
      <h2>Juegos de Física II</h2>
      <p>Explora y comprende las fórmulas ahora en una vista mas interactiva.</p>
    </section>

    <div class="container-cards">
      <!-- Tarjetas Primer Parcial -->
      <div class="card" routerLink="/tira_estira">
        <i class="bx bx-ruler"></i>
        <h5>Tira y Estira: La liga de Hooke</h5>
      </div>
      <div class="card" routerLink="/vuelo_bernoulli">
        <i class="bx bxs-objects-vertical-center"></i>
        <h5>Vuelo Bernoulli</h5>
      </div>
      <div class="card" routerLink="/sopla_vuelo">
        <i class="bx bx-water"></i>
        <h5>SoplaVuelo: Carrera Bernoulli</h5>
      </div>
    </div>
  </body>
</html>
