<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <a routerLink="/dashboard" class="btn-regresar">Regresar</a>
      <h1>Cálculo del Principio de Pascal</h1>

      <form>
        <div class="mb-3">
          <label for="opcion" class="form-label"
            >Seleccione qué desea calcular:</label
          >
          <select
            [(ngModel)]="opcion"
            class="form-select"
            id="opcion"
            name="opcion"
          >
            <option value="presion">Presión (P)</option>
            <option value="fuerza">Fuerza (F)</option>
            <option value="area">Área (A)</option>
          </select>
        </div>

        <!-- Campo de entrada para la Presión -->
        <div class="mb-3" *ngIf="opcion === 'presion'">
          <label for="presion1" class="form-label"
            >Presión (P1) en Pascales (Pa):</label
          >
          <input
            type="number"
            [(ngModel)]="presion1"
            class="form-control"
            id="presion1"
            placeholder="Ingrese la presión"
            name="presion1"
          />
        </div>

        <!-- Campo de entrada para la Fuerza -->
        <div class="mb-3" *ngIf="opcion === 'fuerza'">
          <label for="fuerza1" class="form-label"
            >Fuerza (F1) en Newtons (N):</label
          >
          <input
            type="number"
            [(ngModel)]="fuerza1"
            class="form-control"
            id="fuerza1"
            placeholder="Ingrese la fuerza"
            name="fuerza1"
          />

          <label for="area1" class="form-label"
            >Área (A1) en metros cuadrados (m²):</label
          >
          <input
            type="number"
            [(ngModel)]="area1"
            class="form-control"
            id="area1"
            placeholder="Ingrese el área"
            name="area1"
          />

          <label for="area2" class="form-label"
            >Área (A2) en metros cuadrados (m²):</label
          >
          <input
            type="number"
            [(ngModel)]="area2"
            class="form-control"
            id="area2"
            placeholder="Ingrese el área"
            name="area2"
          />
        </div>

        <!-- Campo de entrada para el Área -->
        <div class="mb-3" *ngIf="opcion === 'area'">
          <label for="fuerza1" class="form-label"
            >Fuerza (F1) en Newtons (N):</label
          >
          <input
            type="number"
            [(ngModel)]="fuerza1"
            class="form-control"
            id="fuerza1"
            placeholder="Ingrese F1"
            name="fuerza1"
          />

          <label for="fuerza2" class="form-label"
            >Fuerza (F2) en Newtons (N):</label
          >
          <input
            type="number"
            [(ngModel)]="fuerza2"
            class="form-control"
            id="fuerza2"
            placeholder="Ingrese F2"
            name="fuerza2"
          />
        </div>

        <button type="button" class="btn btn-primary" (click)="calcular()">
          Calcular
        </button>
      </form>

      <div class="mt-4">
        <h3 id="resultado">{{ resultado }}</h3>
      </div>
    </div>
  </body>
</html>
