<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fórmulas de Física II</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Física II</h1>
    </header>

    <section class="hero">
      <h2>Fórmulas de Física II</h2>
      <p>Explora y comprende las fórmulas más importantes del mundo físico.</p>
    </section>

    <div class="container-cards">
      <div class="card" routerLink="/modelo_young">
        <i class="bx bx-ruler"></i>
        <h5>Modelo de Young</h5>
      </div>
      <div class="card" routerLink="/ley_hooke">
        <i class="bx bxs-objects-vertical-center"></i>
        <h5>Ley de Hooke</h5>
      </div>
      <div class="card" routerLink="/principio_pascal">
        <i class="bx bx-water"></i>
        <h5>Principio de Pascal</h5>
      </div>
    </div>
  </body>
</html>
