<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fórmulas de Física II</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="slider-container">
        <div class="slider" id="slider">
          <div class="card active">
            <i class="bx bx-math icon"></i>
            <div class="title">modelo Young</div>
          </div>
          <div class="card">
            <i class="bx bx-time-five icon"></i>
            <div class="title">Ley de Hooke</div>
          </div>
          <div class="card">
            <i class="bx bx-bar-chart-alt-2 icon"></i>
            <div class="title">principio de pascal</div>
          </div>
        </div>
      </div>

      <div class="nav-buttons">
        <button id="prevBtn"><i class="bx bx-left-arrow-alt"></i></button>
        <button id="nextBtn"><i class="bx bx-right-arrow-alt"></i></button>
      </div>
    </div>
  </body>
</html>
